$themes: (
  80s-dream:
    (
      header-color: #1e00ff,
      border-color: #1e00ff,
      text-color: black,
      header-txt-color: white,
      header-border-color: white,
      splash-color: #1e00ff,
      text-shadow: 4px 4px #f4e861,
      button-color: black,
      form-button-color: black,
      shadow-color: #f4e861,
      background-color: white,
      overview-section: #1e00ff,
      box-shadow: 10px 5px 0px #f4e861,
      bottom-section: #1e00ff,
      bottom-section-txt: white,
      confirm-button: #1e00ff,
      theme-background-img: url("https://markusjorgensen.dk/80s-dream.png"),
      price-color: #1e00ff,
    ),
  Vortex: (
    header-color: black,
    border-color: white,
    text-color: white,
    header-border-color: #79ffa8,
    splash-color: #79ffa8,
    text-shadow: 4px 4px #3e3e3e,
    header-txt-color: white,
    button-color: white,
    form-button-color: black,
    shadow-color: #79ffa8,
    background-color: black,
    overview-section: #79ffa8,
    box-shadow: 10px 5px 0px #79ffa8,
    bottom-section: black,
    bottom-section-txt: white,
    confirm-button: #79ffa8,
    theme-background-img: url("https://markusjorgensen.dk/vortex.png"),
    price-color: white,
  ),
  Pastel-heaven: (
    header-color: #eeb4ff,
    border-color: #eeb4ff,
    text-color: #3b3b3b,
    splash-color: #eeb4ff,
    text-shadow: 4px 4px #ce24ff,
    header-txt-color: #3b3b3b,
    button-color: #3b3b3b,
    form-button-color: #3b3b3b,
    shadow-color: #ce24ff,
    background-color: white,
    overview-section: #ce24ff,
    box-shadow: 10px 5px 0px #ce24ff,
    bottom-section: #eeb4ff,
    bottom-section-txt: #3b3b3b,
    confirm-button: #eeb4ff,
    theme-background-img: url("https://markusjorgensen.dk/pastel-heaven.png"),
    price-color: #ce24ff,
  )
);
